@font-face {
    font-family: 'Roboto';
    src: url('Fonts/roboto-latin-700-normal.ttf') format('truetype');
         font-weight: bold;
    font-style: normal;
}
  
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:rgb(255, 255, 255); 

  font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
}

h2 { 
    color: #E75A7C;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    font-size: 36px;
  font-weight: 700;
}
header { 
    position: fixed; 
    width: 100%;
     max-width:1920px;
    height: 55px;
    top: 0;  
    background-color:#bbc7a4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; }

    
.container {

    width: 100%;
    opacity: 100%;
    max-width: 1920px;
    margin: auto
    
}


/* Styles for the hamburger menu */
.lines {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black; /* Change color as needed */
    margin: 5px 0;
    transition: background-color .3s ease;
  }
  

.menu-bttn-close{
    background-color: transparent; /* Remove background color */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    margin-left: 19%;
    padding:2.5% 6%;
    width:80%;
   height: 5%;
   border: black solid 2px;
    cursor: pointer;
    margin: 1em 1.5em;
    padding: 8px 15px ;


}
.menu-icon {
margin-right: 10px;
}

.menu-bttn-open{
    background-color: transparent; /* Remove background color */
    display: flex;
    justify-content: space-between;
    margin: 4px;
    height: 49px;
    padding:10px 20px ;
    max-width: 150px;

    border: black solid 2px;
    cursor: pointer;

}

.menu-text {
    color: black;
    font-size: 20px;
    margin: 1%;
    
}

  
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}


  .linecross1 {
    display: block;
    width: 26px;
    height: 2px;
    background-color: black; /* Change color as needed */
    margin-top:40%;
transform:rotate(45deg);
position: relative;
top: -1px;



color: black;

}


.linecross2 {
    display: block;
    width: 26px;
    height: 2px;
   margin-top: 2%;
    background-color: black; /* Change color as needed */
    transform:rotate(135deg);
    position: relative;
    top: -3px;



  }
    
  

nav {
    background-color:#bbc7a4;
    box-shadow: 0 0px 10px black;
 
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    height: 100vh;
    width: 250px;
    display:none;
}

nav ul {
    width: 100%;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    margin-top: 33px;
}


#logo {

 
    margin-bottom: 6px;
    margin-top:6px;
    margin-left:2.5%;
   
}

#product-images {
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin:0%;


}

nav li {
    padding: 0.8em 0;
    width: 100%;
   
}

nav li:hover {
    background-color: rgb(0, 255, 157);
    cursor: pointer;
   
}

nav a {
    color: black;
    font-size: 1.2em;
    padding: 0 1em;
}

.menu-bttn {
    border-color: black;
    display: flex;
border: black solid;
align-items: center;
padding:8px 20px;
background-color: #a67e7e00;
opacity: 99%;

}

#open-menu {
    margin: 3px;
    margin-right:2%;
}

#close-menu {
   height: 43px;
} 

a {

   text-decoration: none;
    transition: color 0.3s; /* Add a smooth transition for color change */
}

#landing {

    max-width: 100%;
    min-width: 100vw;
    display: flex;
    justify-self:center;
  
    
}

#little {
    justify-items: center;
}


/* media queries tablet 


.menu-bttn-close{
    background-color: transparent; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4.5%;
    padding:2.5% 2.9%;
    width: 65%;
    height: 7%;


}

*/