@font-face {
    font-family: 'Roboto';
    src: url('Fonts/roboto-latin-700-normal.ttf') format('truetype');
         font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Fonts/roboto-latin-300-normal.ttf') format('truetype');
         font-weight:300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Fonts/roboto-latin-400-normal.ttf') format('truetype');
         font-weight:400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Fonts/roboto-latin-500-normal.ttf') format('truetype');
         font-weight:500;
    font-style: normal;
}
  
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#040213d2; 

  font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow:auto;
}

h3 { 
    color: #E75A7C;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 48px;
    font-size: 36px;
  font-weight: 700;
    
}

#h3-post  {
    
}  

h2 { 
    color: #E75A7C;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 48px;
    font-size: 36px;
  font-weight: 700;
 
}
header { 
    position: fixed; 
    width: 100%;
     max-width:2000px;
    height: 55px;
    top: 0;  
    background-color:#bbc7a4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; }

    
/* Widescreen navigation */
#widescreen-nav {
    display: none;
}
.container {

    width: 100%;
    opacity: 100%;
    max-width: 2000px;
    margin: auto;
    background-color:#f2f5ea; 
    
}


/* Styles for the hamburger menu */
.lines {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black; /* Change color as needed */
    margin: 5px 0;
    transition: background-color .3s ease;
  }
  

.menu-bttn-close{
    background-color: transparent; /* Remove background color */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    margin-left: 19%;
    padding:2.5% 6%;
    width:80%;
   height: 5%;
   border: black solid 2px;
    cursor: pointer;
    margin: 1em 1.5em;
    padding: 8px 15px ;


}
.menu-icon {
margin-right: 10px;
}

.menu-bttn-open{
    background-color: transparent; /* Remove background color */
    display: flex;
    justify-content: space-between;
    margin: 4px;
    height: 49px;
    padding:10px 20px ;
    max-width:150px;
    border: black solid 2px;
    cursor: pointer;

}

.menu-text {
    color: black;
    font-size: 20px;
    margin: 1%;
    
}

  
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}


  .linecross1 {
    display: block;
    width: 26px;
    height: 2px;
    background-color: black; /* Change color as needed */
    margin-top:40%;
transform:rotate(45deg);
position: relative;
top: -1px;
color: black;

}


.linecross2 {
    display: block;
    width: 26px;
    height: 2px;
   margin-top: 2%;
    background-color: black; /* Change color as needed */
    transform:rotate(135deg);
    position: relative;
    top: -3px;
}
    
  

  #nav-menu {
    background-color:#bbc7a4;
    box-shadow: 0 0px 10px black;
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    height: 100vh;
    width: 250px;
    display:none;
}

nav ul {
    width: 100%;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    margin-top: 33px;
    font-weight: 700;
    font-size: 15px;
    line-height: 2em;
}


#logo {

 
    margin-bottom: 6px;
    margin-top:6px;
    margin-left:2.5%;
   
}

#product-images {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   margin:0%;


}

nav li {
    padding: 0.8em 0;
    width: 100%;
   
}

nav li:hover {
    background-color: rgb(0, 255, 157);
    cursor: pointer;
   
}

nav a {
    color: black;
    font-size: 1.2em;
    padding: 0 1em;
}

.menu-bttn {
    border-color: black;
    display: flex;
border: black solid;
align-items: center;
padding:8px 20px;
background-color: #a67e7e00;
opacity: 99%;


}

#open-menu {
    margin: 3px;
    margin-right: 15px;
}

#close-menu {
   height: 43px;
} 

a {

   text-decoration: none;
    transition: color 0.3s; /* Add a smooth transition for color change */
}



#little {
    display: block;
    margin: 0 auto;
    width: 100vw; /* Ensures the image fills its container */
    height: 260px; /* Phone:260, tablet:455px, standard screen:470px  */ 
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position:57%; /* Positions the visible portion of the image to the center */
    max-width: 2000px;
}

#landing {
    max-width: 2000px;
    width: auto ; /* Ensure the image scales with its container */
    height: auto; /* Ensure the image maintains its aspect ratio */
    display: block;
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 85px;
    
}

#banner {
    background-image: url(background.jpg);
    background-position: 60% 50%;
    background-size: 230%;
    object-fit: cover; /* Ensures the image covers the entire container */

    min-height: 325px;
    margin-top: 0px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
     color: #f2f5ea;
    text-align: center;
    
    
    

}

#banner::after {
content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#bbc7a4b8;
}

.textBanner {
    color:white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
               2px 2px 4px rgba(0, 0, 0, 0.1),
               3px 3px 6px rgba(0, 0, 0, 0.1),
               4px 4px 8px rgba(0, 0, 0, 0.1);
    
    opacity: 100%;
    position: relative;
    z-index: 100;
    font-family: 'Roboto' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin:1em;
    margin-bottom: 0;
    line-height: 1.5;    
    
    
}

#searchButton {
   background-color: transparent; /* Remove background color */
    display: flex;
    z-index: 100;
    margin: 40px;
    max-height: 100px;
    padding:10px 20px ;
    max-width: 150px;
    min-width: 100px;
    border: white solid 3px;
    cursor: pointer;
  

}
#searchButton:hover {
background-color: #bbc7a4;
opacity: 100%;
}



#searchMenu-text {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding: 0%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    2px 2px 4px rgba(0, 0, 0, 0.1),
    3px 3px 6px rgba(0, 0, 0, 0.1),
    4px 4px 8px rgba(0, 0, 0, 0.1);
}

#textBannerNormal {
    display: none;
    
}

#portrait {
    display: flex;
    max-width: 220px;
    max-height: 220px; 
    border-radius: 50%;
    object-fit: cover; 
    align-items: center;

}

#portrait-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
   
    
   }


.images-container {
 display: flex;
 flex-direction: column;
 justify-content: center; /* Center vertically */
 align-items: center; /* Center horizontally */

 
}

.pics-before, 
.pics-before img, 
.pics-after, 
.pics-after img, 
.pics-before-colorizing, 
.pics-after-colorizing,
.pics-before-colorizing img,
 .pics-after-colorizing img {
   width: 84%;
   margin: 0; /* Reset margin */
   margin-top: 6px; /* Add top margin as needed */
   margin-left: 5%;
   padding: 0; /* Reset padding */
   border: none; /* Remove border if any */
   box-sizing: border-box; /* Ensure width includes padding and border */

}
   

   
#textBio {
    font-size: 32px;
    font-family: 'Roboto';
   
}  

.textbio-p {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    width: 78%;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    margin: auto;
    margin-bottom: 100px;
    
}

#advert {
    display: flex;
    flex-direction: row;
     align-items: center;
     justify-content: center;
     scale: 0.48;
    
}


footer {
    margin-top: 49px;
    padding: 1%;
    background-color:#bbc7a4;
    color: white;
    margin: auto;
    padding-left: 5%;
    max-width: 2000px;
    border: 0;
}


 
 




@media screen and (min-width: 600px) {
    #product-images { 
        display: flex;
        flex-direction: row;
         align-items: center;
         justify-content: center;
    }

    #little {
        display: block;
        margin: 0 auto;
        width: 100vw; /* Ensures the image fills its container */
        height: 455px; /* Phone:260, tablet:455px, standard screen:470px  */ 
        object-fit: cover; /* Ensures the image covers the entire container */
        object-position:57%; /* Positions the visible portion of the image to the center */
        max-width: 2000px;
    }
        

    
         #banner {
            background-image: url(background.jpg);
            background-position: 60% 50%;
            background-size: 130%;
            min-height: 300px;
            margin-top: 90px;
             position: relative;
             display: flex;
             flex-direction: column;
             justify-content:center;
             align-items: center;
             color: #f2f5ea;
            text-align: center;
        
        }


        #textBannerSmall {
            display: none;
        }
    
        
        #textBannerNormal {
            display:flex;
            margin: auto;
            line-height: 2;
            margin: auto 0;
            font-size: 32px;
            margin-top: 60px;
            margin-bottom: 0px;
        }

        #searchMenu-text {
            font-size: 32px;
        }

        #searchButton {
        max-width:250px;
        }
        
#portrait {
    display: flex;
    max-width: 450px;
    max-height: 450px; 
    border-radius: 50%;
    object-fit: cover; 
    align-items: center;

}

#advert {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
     align-items: center;
     justify-content: center;
     scale: 1;
    
}

    }




@media screen and (min-width: 1521px) {

    header { 
        position: fixed; 
        width: 100%;
         max-width:2000px;
        height: 75px;
        top: 0;  
        background-color:#bbc7a4;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1000; 
        display: flex; 
        justify-content: space-between; }

        #mobile-menu {
            display: none;
        }

        #widescreen-nav {
            display: block; /* Show nav for wider screens */
            flex-grow: 0.5; /* Allow it to grow and fill space */
        }
    
        #widescreen-nav ul {
            display: flex; /* Use flexbox for the list */
            justify-content:right; /* Evenly distribute items */
            align-items: center; /* Align items vertically */
            width: 60%; /* Make ul take full width */
            margin-right: 150px;
        }
    
        #widescreen-nav li {
            padding: 0 1em; /* Add padding to list items */
            
        }
    
        #widescreen-nav a {
            text-decoration: none; /* Remove underline from links */
            color: black; /* Set link color */
            font-size: 1.2em; /* Adjust font size */
        }
    

        

        /* Styles for the hamburger menu */


    
    #product-images { 
        display: flex;
        flex-direction: row;
       justify-content: space-around;
       max-width: 1400px;
       margin: 0 auto; 
       scale: 1.2;       
    }

    #little {
        display: block;
        margin: 0 auto;
        width: 100vw; /* Ensures the image fills its container */
        height: 470px; /* Phone:260, tablet:455px, standard screen:470px  */ 
        object-fit: cover; /* Ensures the image covers the entire container */
        object-position:57%; /* Positions the visible portion of the image to the center */
        max-width: 2000px;
    }

    #banner {
        background-image: url(background.jpg);
        background-position: 66% 10%;
        background-size: 100%;
        min-height: 550px;
        max-width: 1610px;
        display: flex;
        margin: 0 auto; /* Center horizontally */
        display: flex;
        justify-content: center;
        align-items: center; /* Center vertically */
        margin-top: 90px;

}

#textBannerSmall {
    display: none;
}

#textBannerNormal {
    display:flex;
    margin: auto;
    line-height: 2;
    margin: auto 0;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 0px;
}


#searchMenu-text {
    font-size: 32px;
}

#searchButton {
max-width:250px;
margin-top: 25px;
}

#info-container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    align-items: center;
    margin: auto;
}

#portrait {
    display: flex;
    max-width: 600px;
    max-height: 600px; 
    border-radius: 50%;
    object-fit: cover; 
    align-items: center;


    }

.textbio-p {
    max-width: 800px;
}

#advert {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
     align-items: center;
     justify-content: center;
     scale: 1;
    
}

}


/* media queries tablet 


.menu-bttn-close{
    background-color: transparent; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4.5%;
    padding:2.5% 2.9%;
    width: 65%;
    height: 7%;


}

*/